<header class="header">
    <nav class="nav">
        <ul>
            <li><a class="header-link" href="/">Home</a></li>
            <li><a class="header-link" href="/games">Games</a></li>
            <li><a class="header-link" href="/genres">Genres</a></li>
            <li><a class="header-link" href="/developers">Developers</a></li>
        </ul>
    </nav>
</header>