<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/developers">Developers</a></li>
        </ul>
    </nav>
</header>