<header class="header">
    <nav class="nav">
        <ul>
            <li><a class="header-link <%= view === "home" ? "active" : "" %>" href="/">Home</a></li>
            <li><a class="header-link <%= view === "games" ? "active" : "" %>" href="/games">Games</a></li>
            <li><a class="header-link <%= view === "genres" ? "active" : "" %>" href="/genres">Genres</a></li>
            <li><a class="header-link <%= view === "developers" ? "active" : "" %>" href="/developers">Developers</a></li>
        </ul>
    </nav>
</header>