<form action="/games/new" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>
    <label for="developer">Developer</label>
    <input type="text" name="developer" id="developer">
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
    <button type="submit">Add Game</button>
</form>

