<link rel="stylesheet" href="/styles/formTags.css">
<script src="/scripts/formTags.js" defer></script>

<div class="container form-container">
    <form action="/games/new" method="POST" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>
        <label for="date">Release date</label>
        <input type="date" name="date" id="date" required>
        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating" required>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label for="image">Image</label>
        <input type="file" name="image" id="image">

        <div class="genres">
            <div class="genres-container tag-container">
                <input type="text" class="tag-input" id="genres-input" placeholder="Select or type to add a tag...">
            </div>
            <ul id="genres-suggestions" class="suggestions-list">
                <% genres.forEach(genre => { %>
                    <li class="item genre-item"><%= genre.name %></li>
                <% }) %>
            </ul>
            <input type="hidden" class="hidden-input" name="genre" id="genre-tags">
        </div>

        <div class="developers">
            <div class="developers-container tag-container">
                <input type="text" class="tag-input" id="developers-input" placeholder="Select or type to add a tag...">
            </div>
            <ul id="developers-suggestions" class="suggestions-list">
                <% developers.forEach(developer => { %>
                    <li class="item developer-item"><%= developer.name %></li>
                <% }) %>
            </ul>
            <input type="hidden" class="hidden-input" name="developers" id="developers-tags">
        </div>

        <button type="submit">Add game</button>
    </form>
</div>