* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-background: #404040;
  --header-background-hover: #4b4b4b;
  --header-active-link: #363636;
  --button-hover: #ff9900;
}

/* ------- HEADER ------- */

.header {
  height: 10svh;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--header-background);
}

.header .nav,
.header .nav ul,
.header .nav li,
.header-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .nav ul {
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}

.header-link {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.header-link:hover {
  background-color: var(--header-background-hover);
}

.header-link.active {
  background-color: var(--header-active-link);
  border-bottom: 4px solid var(--button-hover);
}

/* ------- FOOTER ------- */

.footer {
  height: 4svh;
  background-color: var(--header-background);
}

/* ------- HOMEPAGE ------- */

.home-intro {
  height: 90svh;
  background-color: aqua;
}

.home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  min-height: 86svh;
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 999;
}

.add:hover {
  width: 150px;
}

.add .symbol {
  opacity: 1;
  transform: opacity 0.3s ease;
}

.add:hover .symbol {
  opacity: 0;
}

.add .text {
  position: absolute;
  opacity: 0;
  transform: opacity 0.3s ease;
}

.add:hover .text {
  opacity: 1;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  width: 300px;
  height: 150px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out;
}

.game-card {
  height: 400px;
}

.card-container {
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: scale(1.03);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.game-card .card-title {
  opacity: 0;
}

.game-card:hover .card-title {
  opacity: 1;
}

/* ------- GAME ITEM ------- */

.game-item {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.poster,
.info {
  flex: 1;
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info-link {
  padding: 6px 16px;
  border-radius: 24px;
  background-color: var(--header-background);
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}

.info-link:hover {
  background-color: var(--button-hover);
}

.desc {
  font-weight: bold;
}

.title {
  font-size: 1.6rem;
}

.item-value.rating,
.item-value .dev,
.item-value.date {
  font-size: 1.2rem;
}

.item-value .dev {
  text-decoration: none;
  color: black;
}

.item-value .dev:hover {
  color: var(--button-hover);
}

.btn-container {
  display: flex;
  gap : .5rem;
}

.btn-container .btn {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0 !important;
}

/* ------- GENRES AND DEVELOPERS PAGE ------- */
.card-container {
  position: relative;
}

.card-buttons-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.card-buttons-container .btn {
  padding: .25rem;
  flex-grow: 1;
  opacity: 0;
  border: none;
  border: 0.5px solid black;
  transition: opacity 0.3s ease-in-out;
}

.card-container:hover .card-buttons-container .btn {
  opacity: 1;
}

.btn.edit {
  border-bottom-right-radius: 1rem
}

.btn.delete {
  border-bottom-left-radius: 1rem
}

.modal-content {
  background-color:var(--header-background);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.modal-content .btn {
  width: 100px;
  padding: .25rem 1rem;
}

/* ------- FORMS ------- */

.form-container {
  display: flex;
  align-items: center;
}

.edit-form,
.create-form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-form .item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input[type=text] {
  box-sizing: border-box;
  padding: .25rem .5rem;
}

.btn {
  background-color: var(--header-background);
  color: white;
  padding: .25rem;
}

.btn:hover {
  background-color: var(--button-hover);
  border: 1px solid rgb(205, 133, 0);
}

.btn.submit {
  align-self: center;
  width: 150px;
  padding: .5rem;
}

/* ------- GAME PAGE ------- */

.game-form,
.game-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.game-form textarea {
  height: 100px;
}

.game-info.genres,
.game-info.developers {
  position: relative;
}

.tag-container {
  border: 1px solid rgba(80, 80, 80, 0.917) !important;
  border-radius: 0 !important;
}

.suggestions-list {
  position: absolute;
  border: 1px solid rgb(16, 16, 16) !important;
  bottom: 0;
  transform: translateY(100%);
  z-index: 99;
  border-radius: 0 !important;
}